In [1]:
import pandas as pd 
import numpy as np
import seaborn as sb 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../Datasets/Flights.csv")

In [3]:
df

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [4]:
df.describe()

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
count,58492.000000,58492.000000,58492.000000,58492.000000,57659.000000,57474.000000,58492.000000,58492.000000,57474.000000,58492.000000,58492.000000
mean,6.220646,15.702096,3.926862,1387.984836,10.921192,115.928576,872.900072,1549.399832,5.812315,0.002342,0.015062
std,3.358484,8.760846,1.995777,482.810792,36.146210,71.679591,624.996805,518.599952,38.411948,0.048340,0.121800
min,1.000000,1.000000,1.000000,5.000000,-24.000000,8.000000,67.000000,1.000000,-60.000000,0.000000,0.000000
25%,3.000000,8.000000,2.000000,1000.000000,-4.000000,61.000000,391.000000,1159.000000,-12.000000,0.000000,0.000000
50%,6.000000,16.000000,4.000000,1353.000000,-1.000000,97.000000,690.000000,1603.000000,-4.000000,0.000000,0.000000
75%,9.000000,23.000000,6.000000,1805.000000,10.000000,152.000000,1199.000000,1959.000000,9.000000,0.000000,0.000000
max,12.000000,31.000000,7.000000,2359.000000,1194.000000,577.000000,4502.000000,2359.000000,1185.000000,1.000000,1.000000

In [5]:
df.AIRLINE.unique()

array(['WN', 'UA', 'MQ', 'AA', 'F9', 'EV', 'OO', 'NK', 'US', 'AS', 'DL',
       'VX', 'B6', 'HA'], dtype=object)

In [6]:
df.AIR_TIME.mean()

115.92857639976337

In [7]:
df[df.AIR_TIME > 115]

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
5,1,1,4,UA,IAH,SAN,1450,1.0,178.0,1303,1620,-14.0,0,0
9,1,1,4,UA,IAH,SJC,925,3.0,215.0,1608,1136,-14.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58477,12,31,4,B6,DFW,BOS,1145,12.0,161.0,1562,1608,-14.0,0,0
58481,12,31,4,UA,IAH,LAX,1433,1.0,197.0,1379,1625,-13.0,0,0
58483,12,31,4,B6,PHX,BOS,2236,-12.0,231.0,2300,515,-45.0,0,0
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0

In [8]:
df.DIST.median()

690.0

In [9]:
df[df.DIST > 690]

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
5,1,1,4,UA,IAH,SAN,1450,1.0,178.0,1303,1620,-14.0,0,0
9,1,1,4,UA,IAH,SJC,925,3.0,215.0,1608,1136,-14.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58477,12,31,4,B6,DFW,BOS,1145,12.0,161.0,1562,1608,-14.0,0,0
58481,12,31,4,UA,IAH,LAX,1433,1.0,197.0,1379,1625,-13.0,0,0
58483,12,31,4,B6,PHX,BOS,2236,-12.0,231.0,2300,515,-45.0,0,0
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0

In [24]:
dt = df.set_index('AIRLINE')

In [11]:
df[df.AIRLINE == 'AA']

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
6,1,1,4,AA,DFW,MSY,1250,84.0,64.0,447,1410,83.0,0,0
8,1,1,4,AA,ORD,STL,1845,-5.0,44.0,258,1950,-5.0,0,0
15,1,1,4,AA,DEN,DFW,1445,-6.0,93.0,641,1745,4.0,0,0
26,1,1,4,AA,LAX,AUS,1430,33.0,157.0,1242,1925,41.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58470,12,31,4,AA,DFW,FAT,1020,-3.0,196.0,1313,1156,-2.0,0,0
58475,12,31,4,AA,IAH,CLT,710,1.0,113.0,912,1037,-12.0,0,0
58476,12,31,4,AA,DFW,TPA,1020,-3.0,121.0,929,1340,-6.0,0,0
58479,12,31,4,AA,DFW,ELP,1200,3.0,94.0,551,1250,13.0,0,0
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0

In [27]:
dt.loc [['AA','UA','US']]

,MONTH,DAY,WEEKDAY,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
AIRLINE,,,,,,,,,,,,,
AA,1,1,4,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
AA,1,1,4,DFW,MSY,1250,84.0,64.0,447,1410,83.0,0,0
AA,1,1,4,ORD,STL,1845,-5.0,44.0,258,1950,-5.0,0,0
AA,1,1,4,DEN,DFW,1445,-6.0,93.0,641,1745,4.0,0,0
AA,1,1,4,LAX,AUS,1430,33.0,157.0,1242,1925,41.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
US,6,30,2,DEN,PHL,705,-4.0,188.0,1558,1240,1.0,0,0
US,6,30,2,PHX,DEN,1451,6.0,85.0,602,1738,7.0,0,0
US,6,30,2,PHX,AUS,840,-3.0,116.0,872,1304,-11.0,0,0
US,6,30,2,ORD,PHX,710,-5.0,170.0,1440,901,-50.0,0,0
US,6,30,2,PHX,OGG,800,-4.0,356.0,2845,1127,-13.0,0,0

In [28]:
dt.loc ['AA']

,MONTH,DAY,WEEKDAY,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
AIRLINE,,,,,,,,,,,,,
AA,1,1,4,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
AA,1,1,4,DFW,MSY,1250,84.0,64.0,447,1410,83.0,0,0
AA,1,1,4,ORD,STL,1845,-5.0,44.0,258,1950,-5.0,0,0
AA,1,1,4,DEN,DFW,1445,-6.0,93.0,641,1745,4.0,0,0
AA,1,1,4,LAX,AUS,1430,33.0,157.0,1242,1925,41.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
AA,12,31,4,DFW,FAT,1020,-3.0,196.0,1313,1156,-2.0,0,0
AA,12,31,4,IAH,CLT,710,1.0,113.0,912,1037,-12.0,0,0
AA,12,31,4,DFW,TPA,1020,-3.0,121.0,929,1340,-6.0,0,0
AA,12,31,4,DFW,ELP,1200,3.0,94.0,551,1250,13.0,0,0
AA,12,31,4,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0

In [29]:
df.groupby('AIRLINE')['ARR_DELAY'].mean()

AIRLINE
AA     5.542661
AS    -0.833333
B6     8.692593
DL     0.339691
EV     7.034580
F9    13.630651
HA     4.972973
MQ     6.860591
NK    18.436070
OO     7.593463
UA     7.765755
US     1.681105
VX     5.348884
WN     6.397353
Name: ARR_DELAY, dtype: float64

In [32]:
df.groupby('AIRLINE')[['ARR_DELAY','AIR_TIME','DIST']].mean()

         ARR_DELAY    AIR_TIME         DIST
AIRLINE
AA        5.542661  144.259404  1114.347865
AS       -0.833333  147.845052  1065.884115
B6        8.692593  209.412963  1771.882136
DL        0.339691  115.334187   866.448448
EV        7.034580   68.964016   460.237453
F9       13.630651  127.592337   969.593014
HA        4.972973  338.288288  2615.178571
MQ        6.860591   61.318346   404.229041
NK       18.436070  135.736878  1047.428100
OO        7.593463   76.010272   511.239375
UA        7.765755  155.650521  1230.918891
US        1.681105  147.686755  1181.226625
VX        5.348884  154.864097  1240.296073
WN        6.397353  107.005897   809.985626

In [37]:
df.groupby(['AIRLINE','WEEKDAY'])[['DIVERTED','CANCELLED']].mean()

                 DIVERTED  CANCELLED
AIRLINE WEEKDAY
AA      1        0.004699   0.032106
        2        0.001631   0.007341
        3        0.001494   0.011949
        4        0.003751   0.015004
        5        0.000786   0.014151
...                   ...        ...
WN      3        0.001569   0.014118
        4        0.003165   0.007911
        5        0.000000   0.005828
        6        0.003040   0.010132
        7        0.002600   0.006066

[98 rows x 2 columns]

In [38]:
df.groupby(['MONTH'])[['DIVERTED','CANCELLED']].mean()

       DIVERTED  CANCELLED
MONTH
1      0.001999   0.020788
2      0.002387   0.042318
3      0.001641   0.017138
4      0.002816   0.010890
5      0.002344   0.014608
6      0.002645   0.017630
7      0.003128   0.009732
8      0.002839   0.007808
9      0.001719   0.003247
11     0.001177   0.010004
12     0.002923   0.015786